@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f2e4d4;
}

a {
  font-weight: 500;
  color: #1e1d30;
  text-decoration: inherit;
}
a:hover {
  color: #1e1d30;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.mint-card {
  background-color: #f8f4f0
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: black;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}